.container {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 24px;
    margin-right: 24px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 300px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.topPart {
    position: relative;
}

.topPartContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px 12px;
    height: 100px;
    box-sizing: border-box;
    position: relative;
    color: white;
    background: linear-gradient(60deg, rgba(32, 33, 36, 0) 60%, rgba(32, 33, 36, .88));
    opacity: .88;

    & h2 {
        display: flex;
        position: relative;
        margin: 0;

        & a {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            display: block;
            margin: 0 -4px;
            padding: 0 4px;

            & div {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
            }
        }
    }
}

.title {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
}

.description, .classGroup {
    font-size: 13px;
    line-height: 20px;
}

.labelSpacing {
    -webkit-box-flex: 1;
    flex: 1 0 16px;
}

.middlePart {
    flex-grow: 1;
    min-height: 0;
    padding: 16px;
    padding-top: 12px;
}

.bottomPart {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    border-top: 1px solid rgb(218, 220, 224);
    line-height: 0;
    padding: 4px;
}

.button {
    font-size: 24px;
    width: 48px;
    height: 48px;
    padding: 12px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    fill: currentColor;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    z-index: 0;
    overflow: visible;
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: transform, opacity;
    color: white;
    display: block;
    margin: -12px;
}

.topBackground {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.image {
    border: none;
    border-radius: 50%;
    float: right;
    height: 75px;
    position: relative;
    margin-top: -49.5px;
    width: 75px;
}

.classGroupContainer {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-weight: normal;
}

.classGroupSpacing {
    flex: 0 0 75px;
}

.icon {
    width: 48px;
    height: 48px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.assignmentTopLabel {
    color: rgba(0, 0, 0, .549);
    font-weight: 500;
    font-size: 13px;
}

.assignmentBottomLabel {
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}